html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
}
@font-face {
  font-family: 'iranYekan';
  src: url('../fonts/IRANYekan/eot/iranyekanwebregular(fanum).eot'),
       url(../fonts/IRANYekan/woff2/iranyekanwebregularfanum.woff2) format('woff2'),
       url(../fonts/IRANYekan/ttf/iranyekanwebregularfanum.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'iranYekan';
  src: url('../fonts/IRANYekan/eot/iranyekanweblight(fanum).eot'),
       url('../fonts/IRANYekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),
       url(../fonts/IRANYekan/woff/iranyekanweblightfanum.woff) format('woff'),
       url('../fonts/IRANYekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
  font-weight:300;
}
@font-face {
  font-family: 'iranYekan';
  src: url('../fonts/IRANYekan/eot/iranyekanwebbold(fanum).eot'),
       url('../fonts/IRANYekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
       url(../fonts/IRANYekan/woff/iranyekanwebboldfanum.woff) format('woff'),
       url('../fonts/IRANYekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
  font-weight:bold;
}
