.imageContainer {
text-align: left;
text-align: center!important;

}
.progressWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1px;
    padding-bottom: 5px;
}
.progressWrapper h4 {
    font-size: 16px;
    font-weight: 400;
}
.progressWrapper span {
    font-size: 14px;
}
.progressWrapper.pt{
    padding-top: 15px;
}
.fixSpacing>[class^=col-] {
    margin-top: 30px;
}
.faceItem i {
    font-size: 36px;
    color: #dedeea;
    float: left;
}
.number {
    font-size: 30px;
    line-height: 1.2;
}
.number em {
    font-style: normal;
}
.faceItem .details {
    color: #302f4e;
    margin-left: 60px;
}
[data-theme='dark'] .faceItem .details {
    color: white;
}
@media only screen and (max-width: 768px){
    .progresses{
        padding-top: 20px;
    }
}
@media only screen and (min-width: 768px){
    .imageContainer {
        text-align: left!important;
        }

.card::before {
    border-right-color: #fff !important;
}
[data-theme='dark'] .card::before {
    border-right-color: #302f4e !important;
}
}
@media only screen and (min-width: 768px){
.card::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    left: 0;
    top: 20%;
}

}
.cardContent {
    box-shadow: 0 5px 20px 0 rgb(69 67 96 / 10%);
    border-radius: 20px!important;
    padding: 30px;
    background-color: white;
    color: #302f4e;
}
[data-theme='dark']  .cardContent {
    background-color: #302f4e!important;
    color: white;
    
}